table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid rgb(207, 206, 206);
    text-align: left;
    padding: 8px;
}


.header{
    display:flex;
    height: 55px;
    justify-content:space-between;
    border-bottom: 2px solid black;

}
.header-iteam{
    display: flex;
    align-items: center;
}
.header-first{

    width: 50px;
    height: 50px;
    background-color:lightgray;
    margin-right: 5px; ;
}
    
.header-second{
    width: 100px;
    height: 50px;
    background-color: lightgray;
    
   
}
.header-search{
    width: 40vw;
    height: 30px;
    background-color: rgb(240, 238, 238);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    padding: 15px;
    border: 1px solid rgb(176, 175, 175);
    
}
.header-mic{
    width: 50px;
    height: 50px;
    background-color: lightgray;
    border-radius: 50%;
    margin-left: 5px;
}  
.header-tools{
    width: 100px;
    height: 50px;
    background-color: lightgray;
    border-radius: 25px;
 
}
.main-section{
    display:flex;
    width: 100%;
    height: 100vh;
    
}   
.main-left{
    width: 20%;
    border-left: 2px solid black;
}

#yt-Logo{
    height: 50px;
    width: 110px;
}

.search-button{
    border: 1px solid rgb(176, 175, 175);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.small-image{
    width: 25px;
    height: 25px;
}

.main-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}

.thumbnail{
    margin: 10px;
    width: 30%;
}

.video-tittle{
    display: flex;
    padding: 2px;
}

.track-title{
    font-size: 14px;
}

.margin-0{
    margin: 0;
}

.smaller-frontsize{
    font-size: smaller;
}

.video-info{
    padding-left: 10px;
}

.yt-side-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(238, 237, 237);
    border-radius: 5%;
}

.side-button-label{
    margin-right: 30px;
    margin-left: 20px;
}